@import './responsive.scss';

@mixin noList {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@mixin absoluteFull {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

@mixin flexCenter {
	align-items: center;
	display: flex;
	justify-content: center;
}
